@model IEnumerable<MvcComicsDocker.Models.Comic>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                IdComic
            </th>
            <th>
                Nombre
            </th>
            <th>
                Imagen
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdComic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.Imagen) style="width:100px"/>
            </td>
        </tr>
}
    </tbody>
</table>
